{{ define "main" }}

<section>
	<h2 class="post">{{ .Title }}</h2>

	{{ .Content }} {{ if eq .Section "posts" }}
	<div class="post-date">
		<span class="g time">{{.Date.Format "2006"}} </span> &#8729; {{ $taxonomy :=
		"tags" }} {{ with .Param $taxonomy }} {{ range $index, $tag := . }} {{ with
		$.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
		<a href="{{ .Permalink }}">{{ $tag | urlize }}</a>
		{{- end -}} {{- end -}} {{ end }}
	</div>
	{{ end }}
</section>
{{ if eq .Section "posts" }}
<div id="comments">{{ partial "comments.html" $ }}</div>

{{ end }} {{ end }}
